$color-primary: #28e606be;
$color-primary-light: #33e713;
$color-primary-dark: #26ce96c2;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #9101d4;

$color-grey-light-1:#f7f5f5b9;
$color-grey-light-2:#eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: #000;
$color-white:#fff;

//varibles for grid

$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal:6rem;

//font
$deafult-font-size: 1.6rem;